.artist0, .artist2, .artist4
{
	color:red;
	float: left;
    display: block;
    width: 300px;
    margin-right: 1em;
}

.artist1, .artist3
{
  color:blue;
  float: left;
  display: block;
  width: 300px;
  margin-right: 1em;
}

.title
{
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}
